head
    title PWSGAME
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='javascript', href='/index.js')

body

    #MainA
        p#Title PWS project games A
        a.button(href="https://twenmod.itch.io/pws-project-a") Play

