head
    title PWSGAME
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='javascript', href='/stylesheets/script.js')

body

    #MainB
        p#Title Data is aan het laden, refresh de pagina een paar keer
        a.button(href="https://pwsprojectgames.cyclic.app") Refresh
