head
    title PWSGAME
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='javascript', href='/stylesheets/script.js')

body

    #MainB
        p#Title loading data, please refresh the page
        a.button(href="https://pwsprojectgames.cyclic.app") Refresh

